<div class="container">
    <!--br><br><br><br><br-->
    <mat-grid-list cols="1" rowHeight="3:1" class="grid" *ngIf="currentOrder.id == 0">
        <mat-grid-tile>
            <mat-card class="box place">
                <mat-card-content>
                    <h4> Trenutno ne postoji aktivna narudžbina.<br><br><a href="layouts/customer/home"> Poruči! </a></h4>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="3:1" class="grid" *ngIf="currentOrder.id != 0">
        <mat-grid-tile>
            <mat-card class="box place">
                <mat-card-content>
                    <table>
                        <tr>
                            <th>
                                <mat-label>ID porudžbine: </mat-label>
                            </th>
                            <td>
                                <mat-label> {{orderTableModel.id}}</mat-label>
                            </td>
                        </tr>
                        <tr>
                            <th style="vertical-align: top; ">
                                <mat-label>Narudžbina: </mat-label>
                            </th>

                            <td>
                                <mat-label> {{orderTableModel.food}}</mat-label>
                            </td>
                        </tr>

                        <tr>
                            <th style=>
                                <mat-label>Vreme kreiranja<br> narudžbine: </mat-label>
                            </th>

                            <td>
                                <mat-label> {{orderTableModel.timePosted}}</mat-label>
                            </td>
                        </tr>
                        <tr>
                            <th style=>
                                <mat-label>Vreme preuzimanja<br> narudžbine: </mat-label>
                            </th>

                            <td>
                                <ng-container *ngIf="orderTableModel.timeAccepted == ''">
                                    <mat-label style="color: gray;"> Narudžbina još uvek nije preuzeta za dostavu. </mat-label>
                                </ng-container>
                                <ng-container *ngIf="orderTableModel.timeAccepted != ''">
                                    <mat-label> {{orderTableModel.timeAccepted}}</mat-label>
                                </ng-container>
                            </td>
                        </tr>
                        <tr>
                            <th style=>
                                <mat-label>Cena: </mat-label>
                            </th>

                            <td>
                                <mat-label> {{orderTableModel.price}},00 rsd</mat-label>
                            </td>
                        </tr>

                        <tr>
                            <th style=>
                                <mat-label>Preostalo do isporuke: </mat-label>
                            </th>

                            <td>
                                <ng-container *ngIf="delivered == true">
                                    <mat-label style="color: green;"> Vaša dostava je pristigla! </mat-label>
                                </ng-container>
                                <ng-container *ngIf="delivered == false && orderTableModel.timeAccepted != ''">
                                    <mat-label> {{timeWriter}}
                                    </mat-label>
                                </ng-container>
                                <ng-container *ngIf="orderTableModel.timeAccepted == ''">
                                    <mat-label> --:--</mat-label>
                                </ng-container>
                            </td>

                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>