
.content{
    width: 100%;
}

mat-card-content{
    text-align: center;
}

mat-card-title{
    font-family: Comic Sans MS, Comic Sans, cursive;
}

mat-form-field{
    text-align: center;
}

table{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

td{
    padding: 10px;
}

th{
    padding: 10px;
}

button{
    width: 100%; 
    font-family: Comic Sans MS, Comic Sans, cursive;
}