.container{
    margin: auto;
    margin-top: 60px;
    width: 50%;
    height: 900px;
    //background-image: url("../../../assets/paper.jpg");
    background-size: 100%;
    vertical-align: center;
    
}