.container{
    margin: auto;
    margin-top: 0px;
    width: 50%;
    height: auto;
    vertical-align: center;
    
}

.box{
    margin: auto;
    width: 50%;
    height: auto;
    vertical-align: center;
}

.place {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}