<app-navbar></app-navbar>
<div class="container">
    <mat-card class="box place" style="font-family: Comic Sans MS, Comic Sans, cursive;">
      <mat-card-header>
        <mat-card-title>Izmena profila</mat-card-title>
      </mat-card-header>
      <form [formGroup]="updateProfileForm">
        <mat-card-content>
          <picture style="width: 100px; height: 100px">
            <source media='(min-width:0px)' srcset="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <img mat-card-image src="" alt="Photo of a Shiba Inu"  style="width: 100px; height: 100px;
            margin:0 auto;
            display:block; margin-bottom: 30px;" >
          </picture>
          <table align="center">
            <tr>
                <td>
                  <mat-form-field class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive;">
                    <input matInput placeholder="Korisničko ime" class="form-control" formControlName="UserName">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive;">
                    <input matInput placeholder="Email" class="form-control"  type="email" formControlName="Email" [disabled]="true">
                  </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive;">
                    <input matInput placeholder="Ime" class="form-control" formControlName="Name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive;">
                    <input matInput placeholder="Prezime" class="form-control" formControlName="LastName">
                  </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive;">
                    <input matInput placeholder="Datum rođenja" type="date" class="form-control" formControlName="Date">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive;">
                    <input matInput placeholder="Adresa" class="form-control" formControlName="Address">
                  </mat-form-field>
                </td>
            </tr>
            <tr>
                <th colspan="2" align="center">
                    <mat-form-field appearance="fill" class="example-full-width" style="font-family: Comic Sans MS, Comic Sans, cursive; width: 100%;">
                      <mat-label>Tip korisnika:</mat-label>
                      <select matNativeControl required  class="form-control" formControlName="UserType">
                        <option value="customer">Kupac</option>
                        <option value="deliverer">Dostavljač</option>
                      </select>
                    </mat-form-field>
                </th>
            </tr>
            <tr>
                <th colspan="2" align="center">
                    <!--input type="file" (change)="onFileSelected($event)"-->
                </th>
            </tr>
            <tr>
                <th colspan="2" align="center">
                    <button style="width: 100%; font-family: Comic Sans MS, Comic Sans, cursive;" mat-stroked-button color="primary" type="submit" class="btn-block" (click)="onSubmit()">Sačuvaj izmene</button>
                </th>
            </tr>
            <tr *ngIf="userType == 'deliverer'"><td><br></td></tr>
            <tr *ngIf="userType == 'deliverer'">
              <td style="text-align: right; padding-right: 10px;">
                <mat-label>Status verifikacije:</mat-label>
              </td>
              <td style="padding-left: 10px;">
                <mat-label>
                  <div class="text" style="color: green;" *ngIf="verificationStatus == 'VERIFIKOVAN'">
                    {{verificationStatus}}
                  </div>
                  <div class="text" style="color: red;" *ngIf="verificationStatus == 'ODBIJEN'">
                    {{verificationStatus}}
                  </div>
                  <div class="text" style="color: blue;" *ngIf="verificationStatus == 'NA ČEKANjU'">
                    {{verificationStatus}}
                  </div>
                </mat-label>
              </td>
          </tr>
            
        </table>
        </mat-card-content>
          
      </form>
    </mat-card>
    
  </div>