<div class="content place grid-container">
    <div class="grid-container">
        <mat-card class="order">
            <mat-card-header>
                <mat-card-title> Dodaci u ponudi: </mat-card-title>
                <div class="btnContainer">
                    <button mat-raised-button color="primary" (click)="openFoodDialog($event)" class="btnAdd">Dodaj stavku</button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="wrapper">
                    <table mat-table [dataSource]="foodDataSource" class="table">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Naziv </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Količina </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>
                        <ng-container matColumnDef="unitOfMeasure">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Jedinica mere </th>
                            <td mat-cell *matCellDef="let element"> {{element.unitOfMeasure}} </td>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cena </th>
                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedFoodColumnsList;"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedFoodColumnsList;"></tr>\
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
        <br><br><br>

        <mat-card class="order">
            <mat-card-header>
                <mat-card-title> Dodaci u ponudi: </mat-card-title>
                <div class="btnContainer">
                    <button mat-raised-button color="primary" (click)="openIngredientDialog($event)" class="btnAdd">Dodaj stavku</button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="wrapper">
                    <table mat-table [dataSource]="ingredientDataSource" class="table">
                        <!--['id', 'name', 'quantity', 'unitOfMeasure', 'amount', 'price'];-->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Naziv </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedIngredientColumnList;"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedIngredientColumnList;"></tr>\
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br><br>