<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="2:1" class="grid place">
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Pljeskavica (200g)</mat-card-title>
                <mat-card-content>
                    <mat-label>Neki sadrzaj</mat-label><br>
                    <mat-label>Cena:</mat-label>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Mesano meso (1000g)</mat-card-title>
                <mat-card-content>
                    <mat-label>Neki sadrzaj</mat-label><br>
                    <mat-label>Cena:</mat-label>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Cevapi (5 kom)</mat-card-title>
                <mat-card-content>
                    <mat-label>Neki sadrzaj</mat-label><br>
                    <mat-label>Cena:</mat-label>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Biftek (250g)</mat-card-title>
                <mat-card-content>
                    <mat-label>Neki sadrzaj</mat-label><br>
                    <mat-label>Cena:</mat-label>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
