<div class="container">
    <mat-card class="box place">
        <mat-card-header>
            <mat-card-title align="center">Moje narudžbine</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!--table mat-table [dataSource]="dataFoodList">
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Naziv </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="ingredients">
                    <th mat-header-cell *matHeaderCellDef> Dodaci </th>
                    <td mat-cell *matCellDef="let element"> {{element.ingredients}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Količina </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Cena </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
                <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
                            (click)="deleteRow(element)">Obriši</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedFoodColumnsList;"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedFoodColumnsList;"></tr>\
            </table-->
        </mat-card-content>
    </mat-card>
</div>