<div class="page-header">
    <div class="address_container center">
        <h5>Knjaza Miloša 24, Požega, Srbija   (031)714-417</h5>
        <mat-card class="matcard-navbar center-box">
            <mat-card-content>
                <ul class="list center-ul">
                    <ng-container *ngIf="this.authorised == false">
                        <li><button mat-button class="btn">Prijava</button></li>
                        <li><button mat-button class="btn">Registracija</button></li>
                    </ng-container>
                    <ng-container *ngIf="this.authorised == true && this.roleStr == 'customer'">
                        <li><button mat-button class="btn">Početna</button></li>
                        <li><button mat-button class="btn">Moje narudžbine</button></li>
                        <li><button mat-button class="btn">Trenutne narudžbine</button></li>
                        <li><button mat-button class="btn">Moj profil</button></li>
                        <li><button mat-button class="btn">Odjava</button></li>
                    </ng-container>
                    <ng-container *ngIf="this.authorised == true && this.roleStr == 'admin'">
                        <li><button mat-button class="btn">Početna</button></li>
                        <li><button mat-button class="btn">Moj profil</button></li>
                        <li><button mat-button class="btn">Odjava</button></li>
                    </ng-container>
                    <ng-container *ngIf="this.authorised == true && this.roleStr == 'deliverer'">
                        <li><button mat-button class="btn">Početna</button></li>
                        <li><button mat-button class="btn">Moj profil</button></li>
                        <li><button mat-button class="btn">Odjava</button></li>
                    </ng-container>
                        <!--li *ngFor="let btn of navigationList"><button mat-button class="btn" (click)="onNavBarClick(btn)">{{btn}}</button></li>
                    <li><button mat-button class="btn">Početna</button></li>
                    <li *ngIf="this.authorised == false"><button mat-button class="btn">Prijava</button></li>
                    <li *ngIf="this.authorised == false"><button mat-button class="btn">Registracija</button></li>
                    <li *ngIf="this.authorised == true"><button mat-button class="btn">Moj profil</button></li>
                    <li *ngIf="this.authorised == true"><button mat-button class="btn">Moj profil</button></li-->
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
