<div class="container">
    <!--br><br><br><br><br-->
    <mat-grid-list cols="1" rowHeight="3:1" class="grid" *ngIf="orderTable?.length == 0">
        <mat-grid-tile>
            <mat-card class="box place">
                <mat-card-content>
                    <h4> Trenutno ne postoje aktivne narudžbine.<br><br><a href="layouts/customer/home"> Dodaj novu! </a></h4>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="3:1" class="grid">
        <ng-container *ngFor="let item of orderTable">
            <mat-grid-tile>
                <mat-card class="box place">
                    <mat-card-content  *ngIf="orderTable?.length != 0">
                        <table>
                            <tr>
                                <th>
                                    <mat-label>ID porudžbine: </mat-label>
                                </th>
                                <td>
                                    <mat-label> {{item.id}}</mat-label>
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align: top; ">
                                    <mat-label>Narudžbina: </mat-label>
                                </th>

                                <td>
                                    <mat-label> {{item.food}}</mat-label>
                                </td>
                            </tr>

                            <tr>
                                <th style=>
                                    <mat-label>Vreme kreiranja<br> narudžbine: </mat-label>
                                </th>

                                <td>
                                    <mat-label> {{item.timePosted}}</mat-label>
                                </td>
                            </tr>
                            <tr>
                                <th style=>
                                    <mat-label>Vreme preuzimanja<br> narudžbine: </mat-label>
                                </th>

                                <td>
                                    <ng-container *ngIf="item.timeAccepted != ''">
                                        <mat-label> {{item.timeAccepted}}</mat-label>
                                    </ng-container>
                                    <ng-container *ngIf="item.timeAccepted == ''">
                                        <mat-label style="color: gray;"><i> Narudžbina još uvek nije preuzeta za isporuku.</i></mat-label>
                                    </ng-container>
                                </td>
                            </tr>
                            <tr>
                                <th style=>
                                    <mat-label>Cena: </mat-label>
                                </th>

                                <td>
                                    <mat-label> {{item.price}},00 rsd</mat-label>
                                </td>
                            </tr>

                            <tr>
                                <th style=>
                                    <mat-label>Preostalo do isporuke: </mat-label>
                                </th>

                                <td>
                                    <ng-container *ngIf="timeLeftHours == 0 && timeLeftMinutes == 0 && timeLeftSeconds == 0">
                                        <mat-label> Dostava je isporučena! </mat-label>
                                    </ng-container>
                                    <ng-container *ngIf="item.timeAccepted != '' && item.delivered == false">
                                        <mat-label> {{timeLeftHours}}:{{timeLeftMinutes}}:{{timeLeftSeconds}} </mat-label>
                                    </ng-container>
                                    <ng-container *ngIf="item.timeAccepted == ''">
                                        <mat-label> --:--</mat-label>
                                    </ng-container>
                                </td>

                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>