.grid-container{
    width: 100%;
    height: 70%;
    padding-top: 50px;
    position: fixed;
}
.grid{
    margin-top: 1%;
    padding: 0%;
    width: 100%;
    height: 60%;
}

.place {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mat-card{
    width: 60%;
    height: 80%;
}

.title{
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.content{
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.ingredients{
    overflow-y: scroll
}

.ingredient-list{
    margin-top: 20px;
}

.btn-add{
    margin-top: 20px;
}

.order{
    margin-top: 50px;
    width: 70%;
    margin: auto;
    padding: 10px;
}

table{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

th{
    width: auto;
    text-align: center;
}
td {
    text-align: center;
    white-space:pre;
}